.main {
  overflow-x: hidden;
}
.btnBack {
  cursor: pointer;
}
.textLogin p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #000000;
}

.formInput input {
  height: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0%;
}

.inputGroup input {
  height: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0%;
}

.inputGroup span {
  background-color: #FFFFFF;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0%;
}

.btnLogin button{
  height: 57px;
  background: #2395FF;
  box-shadow: 0px 8px 10px rgba(35, 149, 255, 0.3);
  border-radius: 10px;
  color:#FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.loginFooter p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #595959;
}

.loginFooter a {
  cursor: pointer;
}

.choiceSign p {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4D4D4D;
}

.btnChoice button {
  height: 52px;
  width: 95px;
  border-color: #2395FF;
}