.borderSpacer {
	border-top: 1px solid var(--brand-light);
}

.zigzag {
	border-radius: 12px;
	--mask: conic-gradient(from -62.5deg at bottom, #0000, #000 1deg 124deg, #0000 125deg) 50%/115.26px 100.2%;
	-webkit-mask: var(--mask);
	mask: var(--mask);
}

.container {
	filter: drop-shadow(0px 2px 4px rgba(14, 63, 108, 0.19));
}
