/* navabar */
.navbar_brand {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	font-size: 1rem;
	background-color: rgba(0, 0, 0, 0.25);
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}
.navbar_toggler {
	top: 0.25rem;
	right: 1rem;
}

.form_control_dark {
	padding: 0.75rem 1rem;
	border-width: 0;
	border-radius: 0;
	color: #fff;
	background-color: rgba(255, 255, 255, 0.1);
	border-color: rgba(255, 255, 255, 0.1);
}
.form_control_dark:focus {
	border-color: transparent;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}
/* end navabar */

/* sidebar */
.sidebar {
	position: fixed;
	top: 0;
	/* rtl:raw:
    right: 0;
    */
	bottom: 0;
	/* rtl:remove */
	left: 0;
	z-index: 100; /* Behind the navbar */
	padding: 48px 0 0; /* Height of navbar */
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}
.sidebar a {
	font-weight: 500;
	color: #333;
}
.d_icon {
	margin-right: 10px;
	margin-top: -5px;
	color: #727272;
}
.sidebar a:hover .d_icon,
.sidebar a .active .d_icon {
	color: inherit;
}
/* end sidebar */
